.line-numbered {
  height: 8ch;
  display: inline-flex;
  vertical-align: top;
  font-family: monospace;
  font-size: 13px;
  border: 1px solid #767676;
  overflow: hidden;
  resize: both;
}
.line-numbered:focus-within {
  outline: 2px solid;
  outline-offset: -1px;
}
.line-numbered * {
  flex-shrink: 0;
  font-family: inherit;
  font-size: inherit;
}
.line-numbered ol {
  counter-reset: item;
  margin: 0;
  padding: 0.5ch;
  color: #767676;
  text-align: right;
  text-shadow: 0.1ch 0.1ch #ffffff;
  background: #d3d3d3;
  border-right: inherit;
  cursor: text;
  list-style: inside none;
  overflow: hidden;
}
.line-numbered li::before {
  content: counter(item);
  counter-increment: item;
}
.line-numbered textarea {
  padding: 0.5ch;
  flex: 1;
  border: none;
  border-radius: 0;
  white-space: pre;
  outline: none;
  resize: none;
}