[data-lined-container] {
  height: 5.5ch;
  font-family: monospace;
  font-size: 13px;
  border: 1px solid #767676;
  overflow: hidden;
  resize: both;
}
div[data-lined-container] {
  display: flex;
}
span[data-lined-container] {
  display: inline-flex;
  vertical-align: top;
}
[data-lined-container]:hover, [data-lined-container]:focus-within {
  border-color: #3b3b3b;
}
[data-lined-container]:focus-within {
  outline: 2px solid;
  outline-offset: -1px;
}
[data-lined-container] * {
  font-family: inherit;
  font-size: inherit;
}
[data-lined-container] ol {
  counter-reset: item;
  margin: 0;
  padding: 0.5ch;
  color: #ffffff;
  text-align: right;
  background: #0000005e;
  border-right: inherit;
  cursor: text;
  list-style: inside none;
  overflow: hidden;
}
[data-lined-container][data-lined-hidden] ol {
  padding: 0;
  width: 0;
  border-width: 0;
}
[data-lined-container] li::before {
  content: counter(item);
  counter-increment: item;
}
[data-lined-container] textarea {
  padding: 0.5ch;
  flex-grow: 1;
  background: transparent;
  border: none;
  border-radius: 0;
  white-space: pre;
  outline: none;
  resize: none;
}
