:host {
  display: inline-flex;
  vertical-align: bottom;
  color: FieldText;
  font-size: 13px;
  font-family: ui-monospace, "Cousine", "Consolas", monospace;
  line-height: 1.4;
  background: Field;
  border: 1px solid #808080;
  border-radius: 3px;
  overflow: hidden;
  cursor: text;
  -webkit-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: 100%;
}

:host {
  --padding: 6px;
}

:host(:focus) {
  outline: auto;
}

ol {
  counter-reset: line;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  list-style-position: inside;
  list-style-type: none;
  text-align: right;
  overflow: hidden;
}

li {
  padding-inline: calc(var(--padding) * 2);
}

li::before {
  content: counter(line);
  counter-increment: line;
  opacity: 0.45;
}

li:first-child {
  padding-top: calc(var(--padding) + var(--overscroll-top, 0px));
}

li:last-child {
  padding-bottom: calc(var(--padding) + var(--overscroll-bottom, 0px));
  flex-basis: 100%;
}

li:last-child::after {
  content: "";
  display: block;
  height: var(--overflow-offset-y, 0px);
}

textarea {
  padding: var(--padding);
  min-width: 4ch;
  min-height: 4ch;
  width: 20ch;
  height: 8ch;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
}